#####################################################
#
# List of approvers for EmagTechLabs/messenger-mongo-bundle
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @iosifch
