version: '3.6'
services:
    php:
        build:
            context: .
            dockerfile: ./docker/Dockerfile
        volumes:
            - ./:/var/www/html
    mongo:
        restart: unless-stopped
        image: mongo:6
        ports:
            - 27017:27017
        environment:
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=rootpass


