parameters:
    level: 5
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Access to an undefined property MongoDB\\Collection::\$documents.#'
        - '#Return type \(void\) of method class@anonymous\/tests\/Unit\/MongoTransportTest.php:164::insertOne\(\) should be compatible with return type \(MongoDB\\InsertOneResult\) of method MongoDB\\Collection::insertOne\(\)#'
